/* Reset styles */
html body p h1 h2 img {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #555;
}

/* Body styles */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #555;
  height: 100%;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  text-align: center;
  margin: -0.5em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 1em;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.logo {
  height: 40px;
}

/* Main styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

/* images styles */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: -moz-available;
  width: -webkit-fill-available;
}

#home {
  background: linear-gradient(to top left, white, #333);
}

section {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 1em;
  padding: 1.5rem;
  font-size: 2rem;
  color: white;
  background: #333;
  text-transform: uppercase;
  font-weight: bold;
}

section p {
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1.5em;
  margin-left: 2rem;
}

ul::before {
  list-style: none;
  margin-left: -1em;
  margin-bottom: 1em;
}

li::before {
  color: #999;
  display: none;
  width: 1em;
  margin-left: -1em;
}

/* Responsive styles */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    nav {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 0.5em;
    }
  
    main {
      padding: 1em;
    }
  
    section {
      padding: 1em;
    }
  } 